node_modules/
reports/
build/ 
*~
~*
*.diff
**/*.log
*.patch
*.bak
.DS_Store
.project
.svn/
*.swp
*.map
*.css.map
**/*.map
**/*.css.map
out/
tmp/
.sass-cache/
.settings/
.idea/
.hg/
package-lock.json
 
