.bar-day {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  position: relative;
  /* z-index: 1; */ }
  .bar-day .bar-corner {
    display: block;
    position: fixed;
    right: 0;
    top: 50px;
    width: 14%;
    height: 62px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 0%, white 100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, white 100%); }

ul.bar-day-inner {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0 4px; }
  ul.bar-day-inner li {
    position: relative;
    float: left;
    display: block;
    padding: 10px 4px; }
    ul.bar-day-inner li.select:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -3.5px;
      width: 7px;
      height: 7px;
      background-color: #f784a7;
      border-radius: 50%; }
  ul.bar-day-inner .button-day {
    display: block;
    width: 100%;
    padding: 6px 3px;
    text-align: center;
    font-size: 12px;
    line-height: 1; }
    ul.bar-day-inner .button-day .week {
      color: #9f9f9f;
      margin-bottom: 6px; }
    ul.bar-day-inner .button-day .day {
      color: #616161; }
    ul.bar-day-inner .button-day.active {
      background-color: #f784a7;
      color: #fff;
      border-radius: 10px; }
      ul.bar-day-inner .button-day.active * {
        color: #fff; }

.time-wrapper {
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-top: 1px solid #d6d9dc;
  border-left: 1px solid #d6d9dc; }
  .time-wrapper .time-cell {
    display: block;
    position: relative;
    text-align: center;
    float: left;
    width: 16.66%;
    height: 60px;
    line-height: 60px;
    color: #202020;
    border: 1px solid #d6d9dc;
    border-left: 0;
    border-top: 0;
    box-sizing: border-box; }
    .time-wrapper .time-cell[disabled] {
      color: #bdbdbd; }
    .time-wrapper .time-cell.select {
      border: 2px solid #f784a7; }
      .time-wrapper .time-cell.select:before {
        position: absolute;
        display: table;
        right: 0;
        bottom: 0;
        width: 15px;
        height: 15px;
        content: '';
        border: 1px solid #f784a7;
        background-color: #f784a7; }
      .time-wrapper .time-cell.select:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        right: 3.75px;
        bottom: 4.95px;
        display: table;
        width: 7.5px;
        height: 5.5px;
        border: 1px solid #fff;
        border-top: 0;
        border-right: 0;
        content: ' '; }

.item-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }

.pic-time-guid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5) url(../images/pic_time_guide.png) no-repeat calc(50% - 15px) 80px;
  background-size: 210px 125px;
  z-index: 10000; }
  .pic-time-guid .pic-time-hand {
    position: absolute;
    width: 27px;
    height: 39px;
    top: 110px;
    left: calc(50% + 50px); }
  .pic-time-guid .hand-move {
    -webkit-transform: translate(-100px, 0);
    -ms-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
    -webkit-transition: all 1000ms ease-out 400ms;
    transition: all 1000ms ease-out 400ms; }

/*# sourceMappingURL=service-time_.css.map */
