@charset "UTF-8";
 
// Colors
// -------------------------------
$dark:                            #9b9b9b !default;
$love:                            #f784a7 !default;
$background: 					  #f0f0f0 !default;
 
// Items
// -------------------------------
$item-font-size:                  14px !default;
$item-icon-font-size:             20px !default;

@import "../../lib/ufo/resources/scss/variables";




