@charset "UTF-8";

@import 
	"global",
	 "share",
	 "../../lib/ufo/resources/scss/slide-box";
	 
.slider-tab, .tab-slider{
	.tabbar{
		.tabbar-inner{
			background-color: rgb(255, 255, 255);
			.tab {
				 color: #333;
			   &.active{
		    	 color: rgba(247, 132, 167, 1);
		     }
			}
		}
		.tab-link-highlight-track{
			background: #FFF;
		}
		&:after {
		    content: '';
		    position: absolute;
		    left:0;
		    bottom: -1px;
		    right: 0;
		    top: auto;
		    height: 0;
		    border-bottom: 1px solid $item-light-border;
		    display: block;
		    z-index: 2;
		    @include transform(scaleY(.5));
		}
	}
}

.comment-list{
	.item{
		h2{
			color: $love;
			margin-bottom: 15px;
		}
		p{
			margin-bottom: 15px;
			white-space: normal;
		}
		.datetime{
			font-size: 12px;
			color: $dark;
		}
		&:after{
			content: '';
	    position: absolute;
	    left: 15px;
	    bottom: 0;
	    top: auto;
	    height: 0;
	    border-bottom: 1px solid $item-light-border;
	    display: block;
	    z-index: 20;
	    @include transform(scaleY(.5));
	    @include transform-origin(50%, 100%);
		}
		.img-scroll{
			margin-bottom: 15px;
		}
		.img-scroll-inner{
			.recommend-img-wrapper{
				float: left;
				width: 80px;
				height: 80px;
				img{
					width: 100%;
				}
				+ .recommend-img-wrapper{
					margin-left: 10px;
				}
			}
		}
	}
}