@charset "UTF-8";

@import 
	"global",
	 "share";
	 
.coupon{
	.scroll-content{
		height:calc(100% - 120px);
		background-color: #fff;
	}
	
	.button-not-use{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		
	}
}