@charset "UTF-8";

@import 
	"global",
	 "share",
	 "../../lib/ufo/resources/scss/popup",
	 "../../lib/ufo/resources/scss/slide-box";
	 
.tab-body-person{
	.form-search{	
		background: #e5e5e5;
		.item-input-wrapper{
			background: #fff;
			input{
				@include placeholder(#000);
			}
		}
	}
}


.artisan-list{
	.item-avatar {
		padding-left: 80px;
    	min-height: 80px;
		img:first-child{
			top: 25px;
			max-width: 50px;
	    	max-height: 50px;
		}
	}
	.item{
		padding-top: 30px;
		padding-bottom: 30px;
		h2{
			font-weight: bold;
		}
		p{
			font-size: 13px;
			color: #999999;
		}
	}
	.icon-forward{
		background: url(../images/gyz-forward.png) no-repeat center;
    display: block;
    width: 13.5px;
    height: 25px;
    background-size: 13.5px 25px;
    top: 50%;
    right: 27px;
    @include translate(0, -50%);
    
    &:before{
			display: none;
		}
	}
}
/*推荐作品列表*/
.recommend-list{
	padding: 10px;
	.recommend-item{
		border-bottom: 2px solid #000;
		border-top: 2px solid #d9d9d9;
		padding-bottom: 15px;
		padding-top: 15px;
		
		&:first-child{
			padding-top:0;
			border-top: 0;
		}
		&:last-child{
			border-bottom: 0;
		}
	}
	.card{
		position: relative;
		
		.img-wrapper{
			position: relative;
			overflow: hidden;
			> img{
				position: absolute;
				left: 50%;
				top: 50%;
				@include translate(-50%, -50%);
				width: 100%;
    	
    		background: url("../svg/loading-dots.svg") no-repeat center;
    		background-size: 80px;
    	 
			}
			
			.product-label{
					display: block;
					position: absolute;
			    left: 0;
			    top: 10px;
			    z-index: 1;
			    background: url(../images/gyz-label-bk.png) no-repeat center;
			    background-size: 100%;
			    color: #fff;
			    padding: 5px 15px 5px 10px;
			    font-size: 11px;
			    @include translate(-73px, 0);
			    
			    &.inview{
			    	 @include transition(all linear 300ms);
			    	 @include translate(0, 0);
			    }
			}
			
			.artisan-photo-wrapper{
				display: block;
				position: absolute;
				right: 10px;
				bottom: 5px;
				width: 70px;
				height: 70px;
				border-radius: 100%;
				padding: 3px;
				background-color: #fff;
				z-index: 3;
				
				> img{
					width: 100%;
					height: 100%;
					border-radius: 100%;
				}
			}
			.bottom-float-layer{
				position: absolute;
				z-index:2;
				bottom: 0;
				left:0;
				width:100%;
				background: rgba(0, 0, 0, .7);			
				color: #b2b2b2;
				font-size: 12px;
				text-align: left;
				padding: 2px;
				padding-left: 10px;
				.point{
					border-radius: 100%;
					width:2px;
					height:2px;
					background-color: #b2b2b2;
				}
				.one2many-label{
					color: #e9455a;
					font-weight: bold;
				}
				+ .artisan-photo-wrapper{
					bottom: 33px;
				}
			}
			
			
		}
		
		.product-desc{
			font-size: 18px;
			font-weight: bold;
			color: #000;
			margin-top: 18px;
			margin-bottom: 13px;
			line-height: 21px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.artisan-desc{
			font-size: 14px;
			color: #666666;
			padding-left: 10px;
			padding-right: 10px;
			
			.artisan-name {
				background-color: #f2f2f2;
				padding: 2px 8px;
				color: #999999;
				font-size: 13px;
			}
			.artisan-title{
				margin-left: 6px;
			}
		}
		.price-desc{
			padding-left: 10px;
			padding-right: 10px;
			.now-price{
				font-size: 20px;
				color: e9455a;
				.unit{
					font-size: 12px;
				}
			}
			.old-price{
				font-size: 13px;
				color: #999999;
				text-decoration: line-through;
			}
		}
		
	}
}

/*事儿*/
.thing-list{
	padding:7px;
	.card-item{
		padding:3px;
		float: left;
		width:50%;
		.card-inner{
			position:relative;
			display: block;
			width:100%;
		}
		img{
			width:100%;
		}
	}
}
.cover{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: rgba(0, 0, 0, .5);
	div{
		@include display-flex();
		width: 100%;
    height: 100%;
		h3{
			margin: auto;
			color: #fff;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 1px;
		}
		
		h5{
			position: absolute;
	    color: rgba(255,255,255,.6);
	    font-size: 13px;
	    bottom: 20px;
	    left: 0;
	    width: 100%;
	    display: inline-block;
	    text-align: center;
	    letter-spacing: 1px;
		}
	}
}
.item:last-child:after{
	display: block;
}
@media screen and (min-width:750px) {
	body,html{width:750px;margin:0 auto;}
}